<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolData App</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolData.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/3837dea4c3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="img" src="@Url.Content("/Images/Logo.png")" height="53px" width="68px" /></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Studenti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Class" asp-action="Index">Classi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
            <table class="tableFoot">
                <tr>
                    <td class="tdFoot"><h4>Contattaci</h4></td>
                    <td class="tdFoot"><h4>Pagine</h4></td>
                </tr>
                <tr>
                    <td class="tdFoot"><b>E-mail: </b><a href="mailto:schooldata@gmail.com" style="color: black;">schooldata@gmail.com</a><br><b>Telefono: </b> 0171 961501</td>
                    <td class="tdFoot"><a href="Home/Index">Home</a><br><a href="/Home/Privacy">Privacy</a><br><a href="/Student/Index">Studenti</a><br><a href="/Class/Index">Classi</a></td>
                </tr>
            </table>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/3837dea4c3.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>