@model ErrorViewModel
@{
    ViewData["Title"] = "Errore";
}

<h1 class="text-danger">Errore.</h1>
<h2 class="text-danger">La richiesta che hai provato ad effettuare ha causato un errore.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div>Controlla di aver digitato correttamente il percorso che stai cercando e riprova.</div>
