html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #d5e3e3; /*1°: #edf4fd*/
}

.button {
    position: center;
    text-align: center;
    background-color: #ffb201;
    color: #ffff;
    border: none;
    border-radius: 40px;
    height: 40px;
    width: 100%;
    font-size: 20px;
}
    .button:hover {
        background-color: #ffb201; /*cambiare colore*/
        color: white;
    }

.emptyDiv {
    width: 400px;
    height: 200px;
}

.divCol {
    position: absolute;
    background: #e3d4ac;
    width: 100px;
    height: 100px;
}
.table{
nav {