@model SchoolData.Models.Student;

@{
}

<h1>Aggiungi studente</h1>
<div>Inserisci le nuove informazioni dello studente</div>

<form asp-action="Create">
    <table cellpadding="10">
        <tr>
            <td>
                <lable for="nome" class="control-label">Nome</lable>
            </td>
            <td>
                <input type="text" name="nome" required />
            </td>
        </tr>

        <tr>
            <td>
                <lable for="cognome" class="control-label">Cognome</lable>
            </td>
            <td>
                <input type="text" name="cognome" required />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="assenze" class="control-label">Numero di assenze</lable>
            </td>
            <td>
                <input type="number" name="assenze" min="0" max="365" required />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="classe" class="control-label">Classe</lable>
            </td>
            <td>
                <input type="text" name="classe" required />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="specializzazione" class="control-label">Specializzazione</lable>
            </td>
            <td>
                <input type="text" name="specializzazione" required />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="averageVote" class="control-label">Media dei voti</lable>
            </td>
            <td>
                <input type="text" name="averageVote" min="0" max="10" required />
            </td>
        </tr>
    </table>

    <input type="submit" class="btn btn-primary" value="Aggiungi studente" />
</form>
<br>