@Model SchoolData.Models.Student

<fieldset>
    <legend>Modifica studente</legend>
    <div>
        <lable for="Nome"> Nome dello studente</lable>
        <input type="text" name="Nome" value="" />
    </div>

    <div>
        <lable for="Cognome"> Inserire il cognome dello studente:</lable>
        <input type="text" name="Cognome" value="" />
    </div>

    <div>
        <lable for="DataNascita"> Inserire la data di nascita dello studente:</lable>
        <input type="text" name="DataNascita" value="" />
    </div>

    <div>
        <lable for="Classe" class=""> Inserire la classe di appartenenza dello studente:</lable>
        <input type="text" name="Classe" value="" />
    </div>

    <div>
        <lable for="MediaVoti" class=""> Inserire la media dei voti dello studente:</lable>
        <input type="text" name="MediaVoti" value="" />
    </div>

    <div>
        <button type="submit" value="Invia" class="submit" />
    </div>
</fieldset>

