@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Home Page";
}
<htlml>
    <head class="text-center">
        <title>class="display-4">School-Data</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <div class="divCol2">
                        <form>
                            <h3>Classe 3</h3>
                            <input type="button" id="btn" onclick="controlloAccesso()" class="button" value="Login" />
                        </form>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="divCol2">
                        <form>
                            <h3>Classe 3</h3>
                            <input type="button" id="btn" onclick="controlloAccesso()" class="button" value="Login" />
                        </form>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="divCol2">
                        <form>
                            <h3>Classe 3</h3>
                            <input type="button" id="btn" onclick="controlloAccesso()" class="button" value="Login" />
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</htlml> 