@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Benvenuto nella pagina privacy di School-data. La tua privacy è importante per noi e ci impegniamo a proteggere le informazioni personali che ci fornisci. Questa Privacy Policy descrive come raccogliamo, utilizziamo, divulgiamo e proteggiamo le tue informazioni personali quando visiti il nostro sito web. Ti invitiamo a leggere attentamente le seguenti informazioni per comprendere le nostre pratiche relative alla privacy e al trattamento dei dati personali.

</p>

