@model SchoolData.Models.Class

@{
    ViewData["Title"] = "Create";
}

<h1>Aggiungi una nuova classe</h1>

<form asp-action="Create">
    <table cellpadding="10">
        <tr>
            <td>
                <label asp-for="classe" class="control-label">Classe </label>
                
            </td>
            <td>
                <input asp-for="classe" type="text" name="classe" class="form-control" required />
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="specializzazione" class="control-label"> Specializzazione </label>
            </td>
            <td>
                <input asp-for="specializzazione" type="text" name="specializzazione" class="form-control" required />
            </td>
        </tr>
        
    </table>

    <input type="submit" class="btn btn-primary" value="Aggiungi Classe" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
