@model SchoolData.Models.Class

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Class</h4>
<hr />
<form asp-action="Edit">
    <table cellpadding="10">

        <tr>
            <td>
                <lable for="Classe" class="control-label">Classe</lable>
            </td>
            <td>
                <input type="text" name="Classe" value="@Model.classe" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <lable for="Specializzazione" class="control-label">Specializzazione</lable>
            </td>
            <td>
                <input type="text" name="Specializzazione" value="@Model.specializzazione" class="form-control" />
            </td>
        </tr>

    </table>
    <div class="form-group">
        <input type="submit" value="Salva modifiche" class="btn btn-primary" />
    </div>
</form>
<br>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
